*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
img {
	vertical-align: top;
}
ul,
ol,
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	width: 100%;
	height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
button {
	cursor: pointer;
}
.authorised {
	min-height: 100%;
	width: 100%;
	background: url("../img/home.jpg") 0 0 / cover no-repeat;
	padding-bottom: auto;

	&::before {
		content: "";
		position: fixed;
		top: 0;

		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.533);
	}
	&__block {
		border-radius: 10px;
		position: fixed;
		left: 20%;
		top: 15%;
		bottom: 5%;
		width: 450px;
		max-height: 700px;
		padding: 50px 50px 0px;
		background-color: #fff;
		text-align: center;
		overflow: auto;
		@media (max-width: 730px) {
			left: 10%;
		}
		@media (max-width: 530px) {
			width: 100%;
			left: 0;
		}
	}

	&__logo {
		margin-bottom: 20px;
	}

	&__title {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 20px;
	}

	&__info {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 20px;
	}

	&__accounts {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
		@media (max-width: 420px) {
			display: block;
		}
		button {
			width: 153px;
			height: 42px;
			padding: 12px 35px 12px 45px;
			padding: 12px 40px;
			font-size: 16px;
			line-height: 16px;
			color: #fff;
			border-radius: 10px;
			@media (max-width: 420px) {
				&:first-child {
					margin-bottom: 20px;
				}
			}
		}
	}
	&__line {
		margin-bottom: 30px;
		span {
			display: flex;
			align-items: center;
			text-align: center;
			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background-color: #000;
				margin-right: 15px;
				// !Проверить ширину на адаптиве
			}
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background-color: #000;
				margin-left: 15px;
				// !Проверить ширину на адаптиве
			}
		}
	}
}
.facebook-button {
	background: #1f7ae4;
}
.google-button {
	background: #e94e4e;
}
.authorised {
	&__form {
	}
}
.form-authorised {
	text-align: left;
	&__block {
		margin-bottom: 12px;
	}

	&__title {
	}

	&__input {
		width: 100%;
		border: 1px solid #c8c8c8;
		border-radius: 20px;
		height: 40px;
		padding: 10px;
		margin-bottom: 12px;
	}
	&__bottom {
		margin-bottom: 33px;
	}

	&__password {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__show {
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		color: #49bbdf;
	}
	&__forgot {
		font-size: 10px;
		line-height: 12px;
		margin-bottom: 44px;
	}
	&__button {
		width: 100%;
		background: #1a73e8;
		border-radius: 20px;
		height: 40px;
		margin-bottom: 15px;
		font-size: 16px;
		color: #ffffff;
	}
	&__policy {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: center;
		padding-bottom: 30px;
	}
}
.close-modal {
	display: none;
}
.__container {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	z-index: 99;
}
.home-screen__block {
	color: #fff;
}
.authorised__logo.home-screen-logo {
	display: flex;
	align-items: flex-end;
	padding-left: 35px;
	span {
		margin-left: 10px;
	}
}
.home-screen {
	position: relative;
	&__rooms {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding-bottom: 32px;
	}

	&__room {
		width: 400px;
		height: 285px;
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		margin: 0px 10px 10px;
		@media (max-width: 500px) {
			max-width: 80%;
		}
		@media (max-width: 400px) {
			max-width: 100%;
		}
		img {
			width: 100%;
			height: 285px;
			object-fit: cover;
		}
		span {
			position: absolute;
			bottom: 0;
			left: 2%;
		}
	}
}
.home-screen {
	// .home-screen__devices

	&__devices {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width: 1000px) {
			justify-content: space-around;
		}
	}

	// .home-screen__device

	&__device {
		width: 300px;
		height: 185px;
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		margin: 0 10px 32px;
		img {
			width: 100%;
			height: 285px;
			object-fit: cover;
		}
		span {
			position: absolute;
			bottom: 0;
			left: 2%;
		}
	}
}
.home-screen-title__devices {
	text-align: center;
	margin-bottom: 42px;
	font-size: 24px;
	font-weight: 700;
}
.appartaments {
	color: #fff;
}
.home-screen__rooms.appartaments-info {
}
.home-screen__room.appartaments-info-room {
	width: 80%;
	height: 285px;
	border-radius: 10px;
	overflow: hidden;
	margin: 0px 10px 42px;
}
.home-screen-title__devices.appartaments-title {
	padding-top: 42px;
	.room-getback {
		text-decoration: underline;
		font-size: 14px;
		color: linear-gradient(0deg, #ff6565, #ff6565), linear-gradient(0deg, #ff6565, #ff6565),
			linear-gradient(0deg, #ff6565, #ff6565), #ff6565;
		cursor: pointer;
		margin-left: 10px;
	}
}
// .link-room {
// 	display: flex;
// 	justify-content: center;
// }
.link-room,
.link-device {
	// pointer-events: none; /* делаем ссылку некликабельной */
	cursor: pointer;
}
.devices {
	color: #fff;
}
.home-screen__rooms.appartaments-info.devices-info {
	flex-wrap: nowrap;
	@media (max-width: 1150px) {
		flex-wrap: wrap;
	}
}
.home-screen__room.appartaments-info-room.devices-info-block {
	width: 60%;
}
.home-screen-title__devices.appartaments-title.devices-info-title {
	text-align: left;
	padding-top: 0;
	font-size: 20px;
}
.devices-info-services {
	display: flex;
	flex-direction: column;
	@media (max-width: 1150px) {
		padding: 0 10px;
	}
}
.devices-info-off {
	span {
		display: flex;
		align-items: center;
	}
	span::before {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #00e600;
		margin-right: 10px;
	}
}
.devices-info-buttons {
	display: flex;
	flex-direction: column;
	button {
		margin-top: 23px;
		padding: 25px 50px;
		font-size: 18px;
		line-height: 28px;
		text-align: center;
		color: #ffffff;
	}
}
.devices-info-button-off {
	background-color: #ff6565;
	border-radius: 10px;
	transition: all 0.4s ease 0s;
	&:hover {
		background-color: #ff6565d0;
		border-radius: 30px;
	}
}
.devices-info-button-macros {
	background: #1f7ae4;
	border-radius: 20px;
}

.macros {
	color: #fff;
}
.macros-title {
}
.macros-btn {
	background-color: rgb(86, 180, 235);
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: rgba(86, 180, 235, 0.685);
		border-radius: 30px;
	}
}
.macros-add-btn {
	padding-left: 70px !important;
	background: #4f5d73 url("../img/doc.svg") 20px center no-repeat;
	transition: all 0.3s ease 0s;
	&:hover {
		background: #879ec4 url("../img/doc.svg") 20px center no-repeat;
		border-radius: 30px;
	}
}
.appartaments-getback {
	text-decoration: underline;
	font-size: 14px;

	cursor: pointer;
	margin-left: 10px;
}
